* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow: hidden;
}

#container {
  width: 480px;
  display: flex;
  align-items: flex-start;
}